@media screen and (max-width: 1270px) {
    .custom-table-h-box {
        position: absolute;
        top: 0;
    }
}

@media screen and (max-width: 991px) {
    .search {
        text-align: center;
    }
    .btn-box {
        position: static;
        display: block;
        transform: translateY(0);
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {

}