/*start style front*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'SF';
}

a:hover {
    text-decoration: none;
}


a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    border: none;
    text-decoration: none;
}
.container h1 {
    line-height: 1;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.form-group.__custom {
    position: relative;
}

.form-group.__custom label {
    position: absolute;
    display: inline-block;
    max-width: 100%;
    color: #656565;
    font-weight: 400;
    left: 0;
    z-index: 1;
    top: 10px;
    transition: .25s;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}
.__custom.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.__custom.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.__custom.__no-empty label,
.form-group.__custom.__selected label {
    font-size: 11px;
    top: -10px;
}

.form-group.__custom input,
.form-group.__custom textarea,
.form-group.__custom input[readonly]:focus,
.form-group.__custom textarea[readonly]:focus {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    height: 30px;
    font-size: 14px;
    color: #000;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    transition: .25s;
}

.form-group.__custom select{
    border-radius: 40px;
    border: 1px solid #4a4a4a;
    width: 100%;
    padding: 5px 25px;
}

.form-group.__custom textarea {
    min-height: 70px ;
    resize: none;
}

.custom-checkbox,
.custom-checkbox label{
    display: block;
    position: relative;
    margin-bottom: 0px;
    vertical-align: middle;
}

.custom-checkbox input[type='checkbox'],
.custom-checkbox input[type='radio']{
    display: none;
}

.custom-checkbox span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    transition: .3s;
}

.custom-checkbox input[type='checkbox']:checked + span:before,
.custom-checkbox input[type='radio']:checked + span:before{
    content: '';
    position: absolute;
    display: block;
    right: 0px;
    top: 50%;
    width: 8px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/images/svg/checked.svg);
    transform: translateY(-50%);

}
.custom-checkbox input[type='checkbox']:checked + span,
.custom-checkbox input[type='radio']:checked + span{
    background-color: #348f40;
    border-color: #348f40;
}

a.button,
button.button {
    display: inline-block;
    padding: 5px 25px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 40px;
    letter-spacing: 0.71px;
    background: transparent;
    transition: .3s;
}

a.button.__info,
button.button.__info {
    color: #fff;
    box-shadow: 0 2px 8px rgba(161, 161, 161, 0.5);
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
    border: none;
}

a.button.__info:hover,
button.button.__info:hover,
a.button.__danger:hover,
button.button.__danger:hover{
    box-shadow: none;
}

a.button.__default,
button.button.__default {
    color: #4a4a4a;
    border: 1px solid #4a4a4a;

}
a.button.__danger,
button.button.__danger {
    color: #fff;
    box-shadow: 0 2px 8px rgba(161, 161, 161, 0.5);
    background: #d43f3a;
    border: none;

}

a.button.__default:hover,
button.button.__default:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    background-image: linear-gradient(176deg, #fafafa 0%, #f8f8f8 51%, #f8f8f8 57%, #f8f8f8 58%, #f6f6f6 100%);
    z-index: 999;
}

header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header-inner {
    position: relative;
    height: 58px;
}


.header-logo {
    display: inline-block;
}

.header-logo img {
    max-height: 58px;
}

.header-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-menu {
    display: inline-block;
}

.header-menu li {
    display: inline-block;
    position: relative;
}

.header-menu  > li >  a {
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 4px;
    display: block;
    transition: .3s;
}

.header-menu > li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 0;
    height: 1px;
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
    transition: .3s;
}

.header-menu a:hover {
    text-decoration: none;
}

.header-menu > li:hover:after {
    width: calc(100% - 30px) ;
}

.header-menu-inner {
    opacity: 0;
    visibility: hidden;
    /*display: none;*/
    position: absolute;
    white-space: nowrap;
    left: 5px;
    top: 100%;
    transition: .3s;
}

.header-menu > li:hover  .header-menu-inner {
    /*display: block;*/
    opacity: 1;
    visibility: visible;
}

.header-menu-inner > li{
    display: inline-block;
}

.header-menu-inner > li > a {
    font-size: 12px;
    padding: 10px;
    color: #9b9b9b;
    display: inline-block;
    transition: .3s;
}

.header-menu-inner > li > a:hover {
    color: #39393a;
}

.header-menu-inner > li:hover .header-menu-inner-sub {
    opacity: 1;
    visibility: visible;
    /*display: block;*/
}

.header-menu-inner-sub {
    opacity: 0;
    visibility: hidden;
    /*display: none;*/
    position: absolute;
    left: 5px;
    top: 100%;
    transition: .3s;
}

.header-menu-inner-sub li {
    display: block;
}

.header-menu-inner-sub  a{
    display: block;
    padding: 5px;
    font-size: 12px;
    color: #9b9b9b;
    transition: .3s;
}

.header-menu-inner-sub  a:hover {
    color: #39393a;
}

.header-username {
    display: inline-block;
    color: #9b9b9b;
    font-size: 10px;
    letter-spacing: 1.11px;
    text-transform: uppercase;
    margin: 0px 25px;
}

.header-logout {
    display: inline-block;
}
/*start mob menu*/
.mob-header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 15px;
    z-index: 10;
    width: 30px;
    padding: 10px 0px;
    overflow: hidden;
    cursor: pointer;
}
.mob-menu-lem {
    width: calc(100% - 6px);
    height: 3px;
    margin-left: 3px;
    background: #000;
    margin-bottom: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
/*end mob menu*/

.fixed-box {
    position: fixed;
    top: 98px;
    padding: 51.5px 0px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.main-table-box {
    margin-top: 297px;
}
.main-form-box {
    margin-top: 148px;
}


.action-box {
    position: relative;
}


.search .form-group {
    display: inline-block;
    margin-bottom: 0px;
}

.search input {
    display: inline-block;
    width: auto;
    max-width: 250px;
}

.btn-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/*start admin*/
.custom-table-h-box.hide {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.custom-table-h-box {
    font-size: 0px;
    visibility: visible;
    opacity: 1;
    border: 1px solid #000;
    position: fixed;
    top: 297px;
    width: 1240px;
    margin: 0 auto;
    display: table;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.custom-table-h-box .table-cell{
    border-right: 1px solid #000;
    display: table-cell;
    width: 50px;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
.custom-table-h-box .table-row{}

.custom-table-h-box .table-cell:last-child {
    border-right: none;
}
.main-table-box-inner {
    overflow: auto;
}
.grid-view {
    position: relative;
    min-width: 1240px;
}
.grid-view-main {
    overflow: auto;
}
.admin-table .filters{
    background-image: linear-gradient(176deg, #fafafa 0%, #f8f8f8 51%, #f8f8f8 57%, #f8f8f8 58%, #f6f6f6 100%);
}
.admin-table .filters .form-control {
    box-shadow: none;
    border: 1px solid #eee;;
    font-size: 12px;
}
.admin-table-main {
    width: 1140px;
}
.admin-table thead tr:first-child{
    visibility: hidden;

}

.admin-table thead th{
    text-align: center;
    font-weight: 400;
    color: #000;
    font-size: 15px;
}

.table-bordered.admin-table>tbody>tr>td,
.table-bordered.admin-table>tbody>tr>th,
.table-bordered.admin-table>tfoot>tr>td,
.table-bordered.admin-table>tfoot>tr>th,
.table-bordered.admin-table>thead>tr>td,
.table-bordered.admin-table>thead>tr>th,
.table-bordered.admin-table{
    border: 1px solid #000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.admin-table tbody td{
    color: #39393a;
    font-size: 15px;
}
.admin-table .glyphicon {
    color: #000;
    opacity: 1;
    transition: .3s;
}
.admin-table .glyphicon:hover {
    opacity: .4;
}
/*start pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #47a544;
    border-color: #47a544;
}
.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d43f3a;
}
.circle.confirmed {
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
}
/*start select2*/
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
    color: #fff;
}
.select2-container--default .select2-selection--single:focus {
    outline: none;
}
/*end select2*/
/*start modal window*/
.modal-header h4 {
    font-size: 20px;
    text-align: center;
}
.modal-body {
    text-align: center;
}
/*end modal window*/

/*end style front*/

/*html,*/
/*body {*/
/*height: 100%;*/
/*}*/

/*.wrap {*/
/*min-height: 100%;*/
/*height: auto;*/
/*margin: 0 auto -60px;*/
/*padding: 0 0 60px;*/
/*}*/


/*.wrap > .container {*/
/*padding: 70px 15px 20px;*/
/*}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*.grid-view td {*/
    /*white-space: nowrap;*/
/*}*/

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
@media (min-width: 1270px) {

    .container {
        width: 1270px;
    }
}

div.nomenclature-index{
width: 100%;
}

div.nomenclature-index .left_block{
    float: left;
    width: 20%;
    height: 100px;
}

div.nomenclature-index .right_block{
    float: left;
    width: 80%;
}

.selected{
    background: grey;
}