@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Ultralight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Heavy.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'SF';
    src: url(../fonts/SanFrancisco/SF-UI-Display-Black.ttf);
    font-weight: 900;
}