/*start style front*/
/*start style front*/
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'SF';
}

a:hover {
    text-decoration: none;
}


a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    border: none;
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}
.form-group.__custom {
    position: relative;
}

.form-group.__custom label {
    position: absolute;
    display: inline-block;
    max-width: 100%;
    color: #cdcdcd;
    font-weight: 400;
    left: 0;
    z-index: 1;
    top: 10px;
    transition: .25s;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}
.__custom.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.__custom.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.__custom.__no-empty label,
.form-group.__custom.__selected label {
    font-size: 11px;
    top: -10px;
}

.form-group.__custom input,
.form-group.__custom textarea,
.form-group.__custom input[readonly]:focus,
.form-group.__custom textarea[readonly]:focus {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    height: 30px;
    font-size: 12px;
    color: #000;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    transition: .25s;
}

.form-group.__custom select{
    border-radius: 40px;
    border: 1px solid #4a4a4a;
    width: 100%;
    padding: 5px 25px;
}
.custom-checkbox
.custom-checkbox label{
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
    vertical-align: middle;
    font-size: 0px;
    width: 10px;
    height: 10px;
}

.custom-checkbox input[type='checkbox']
.custom-checkbox input[type='radio']{
    display: none;
}

.custom-checkbox span {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    transition: .3s;
}

.custom-checkbox input[type='checkbox']:checked + span:before,
.custom-checkbox input[type='radio']:checked + span:before{
    content: '';
    position: absolute;
    display: block;
    right: 0px;
    top: 50%;
    width: 8px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/images/svg/checked.svg);
    transform: translateY(-50%);

}
.custom-checkbox input[type='checkbox']:checked + span,
.custom-checkbox input[type='radio']:checked + span{
    background-color: #348f40;
    border-color: #348f40;
}

a.button,
button.button {
    display: inline-block;
    padding: 5px 25px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 40px;
    letter-spacing: 0.71px;
    background: transparent;
    transition: .3s;
}

a.button.__info,
button.button.__info {
    color: #fff;
    box-shadow: 0 2px 8px rgba(161, 161, 161, 0.5);
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
    border: none;
}

a.button.__info:hover,
button.button.__info:hover,
a.button.__danger:hover,
button.button.__danger:hover{
    box-shadow: none;
}

a.button.__default,
button.button.__default {
    color: #4a4a4a;
    border: 1px solid #4a4a4a;

}
a.button.__danger,
button.button.__danger {
    color: #fff;
    box-shadow: 0 2px 8px rgba(161, 161, 161, 0.5);
    background: #d43f3a;
    border: none;

}
a.button.__default:hover,
button.button.__default:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
}

header {
    padding: 20px 0px;
    background-image: linear-gradient(176deg, #fafafa 0%, #f8f8f8 51%, #f8f8f8 57%, #f8f8f8 58%, #f6f6f6 100%);
}

header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header-inner {
    position: relative;
    height: 58px;
}


.header-logo {
    display: inline-block;
}

.header-logo img {
    max-height: 58px;
}

.header-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-menu {
    display: inline-block;
}

.header-menu li {
    display: inline-block;
    position: relative;
}

.header-menu  > li >  a {
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 4px;
    display: block;
    transition: .3s;
}

.header-menu > li:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 0;
    height: 1px;
    background-image: linear-gradient(178deg, #53b045 0%, #20813f 100%);
    transition: .3s;
}

.header-menu a:hover {
    text-decoration: none;
}

.header-menu > li:hover:after {
    width: calc(100% - 30px) ;
}

.header-menu-inner {
    /*opacity: 0;*/
    /*visibility: hidden;*/
    display: none;
    position: absolute;
    white-space: nowrap;
    left: 5px;
    top: 100%;
    transition: .3s;
}

.header-menu > li:hover  .header-menu-inner {
    display: block;
    /*opacity: 1;*/
    /*visibility: visible;*/
}

.header-menu-inner > li{
    display: inline-block;
}

.header-menu-inner > li > a {
    font-size: 12px;
    padding: 10px;
    color: #9b9b9b;
    display: inline-block;
    transition: .3s;
}

.header-menu-inner > li > a:hover {
    color: #39393a;
}

.header-menu-inner > li:hover .header-menu-inner-sub {
    /*opacity: 1;*/
    /*visibility: visible;*/
    display: block;
}

.header-menu-inner-sub {
    /*opacity: 0;*/
    /*visibility: hidden;*/
    display: none;
    position: absolute;
    left: 5px;
    top: 100%;
    transition: .3s;
}

.header-menu-inner-sub li {
    display: block;
}

.header-menu-inner-sub  a{
    display: block;
    padding: 5px;
    font-size: 12px;
    color: #9b9b9b;
    transition: .3s;
}

.header-menu-inner-sub  a:hover {
    color: #39393a;
}

.header-username {
    display: inline-block;
    color: #9b9b9b;
    font-size: 10px;
    letter-spacing: 1.11px;
    text-transform: uppercase;
    margin-left: 35px;
}

.main-box {
    margin: 100px 0px;
}
.main-box h1 {
    margin-bottom: 20px;
}
/*end style front*/



html,
body {
    height: 100%;


}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/*.wrap > .container {*/
    /*padding: 70px 15px 20px;*/
/*}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
